body {
	font-family: Garamond;
	background-color: #D8BFD8;
	text-align: center;
    width: 100%;
    margin: 0 auto;
}
legend {
	text-align: center;
}
address {
	font-family: Garamond;
}
.nav { 
    display: block;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding:  10px 20px;
    font-size: 20px;
    color: black;
    font-family: Garamond;
}
.nav ul li a:hover {
    color: white;
    margin: 90%;
}
